name: Individual Deploy

on:
  workflow_dispatch:
    inputs:
      manifest:
        description: 'The Kubernetes manifest file to deploy'
        required: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Set the Kubernetes context
        uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }}

      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Deploy to the Kubernetes cluster
        uses: azure/k8s-deploy@v5
        with:
          action : deploy
          strategy: basic
          manifests: ${{ github.event.inputs.manifest }}
